body {
	background: #F6FAFD;
}

#wrapper {
	max-width: 960px;
	width: 100%;

	margin: 0 auto;
}

pre {
	padding: 0.5em;
	color: #999;
	background: #EFEFEF;
	border: #CCC;
	border-radius: 3px;
	tab-size: 2;
}

h1, h2, h3 {
	font-family: "Helvetica", sans-serif;
	margin: 0 0 0.75em 0;
}